# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/*.sdf
/Debug/*.log
/Debug/*.exe
/Debug/*.pdb
/Debug/*.lastbuildstate
/Debug/*.ilk
/Debug/*.tlog
/Debug/*.obj
/Debug/*.idb
/*.opensdf
/Release/*.exe
/Release/*.lastbuildstate
/Release/*.pdb
/Release/*.tlog
/Release/*.obj
/Release/*.log
